html[data-bs-theme="light"] {
  --label-color: rgb(72, 79, 88);
  --header-background: rgb(35, 77, 100);
  --header-text-color: white;
}
html[data-bs-theme="dark"] {
  --label-color: rgb(187, 201, 220);
  --header-background: rgb(54 57 61);
  --header-text-color: white;
}

.header {
  background: var(--header-background);
}

.header .navbar-brand {
  color: var(--header-text-color);
}

.form-label,
.col-form-label {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 13px !important;
  color: var(--label-color);
}

.surveyEditor .card-title {
  display: inline-block;
  padding: 0 16px;
  margin: 0;
  line-height: 35px;
  height: 35px;
  text-transform: uppercase;
  color: var(--label-color);
  font-weight: 700;
  font-size: 13px !important;
}
.surveyEditor .card-header {
  padding: 0;
}
.surveyEditor .card-header .btn {
  height: 37px;
  display: inline-block;
  border-radius: 0;
  margin-top: -1px;
  margin-bottom: -1px;
  margin-right: -1px;
}

.surveyEditor .card-header .btn:last-child {
  border-top-right-radius: 6px;
}

.form-label,
.col-form-label {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 13px !important;
  color: var(--label-color);
}

.surveyEditor .card-title {
  display: inline-block;
  padding: 0 16px;
  margin: 0;
  line-height: 35px;
  height: 35px;
  text-transform: uppercase;
  color: var(--label-color);
  font-weight: 700;
  font-size: 13px !important;
}
.surveyEditor .card-header {
  padding: 0;
}
.surveyEditor .card-header .btn {
  height: 37px;
  display: inline-block;
  border-radius: 0;
  margin-top: -1px;
  margin-bottom: -1px;
  margin-right: -1px;
}

.surveyEditor .card-header .btn:last-child {
  border-top-right-radius: 6px;
}

.header .breadcrumb {
  margin-bottom: 0;
}

.header .breadcrumb-item a {
  line-height: 35px;
}

.header .breadcrumb-item:before {
  line-height: 35px;
}
