# OSX
#
.DS_Store

# node.js
#
node_modules/
npm-debug.log
yarn-error.log

.aws-sam
keystore.properties
packages/fika-collect-app/android/.gradle/
packages/fika-collect-app/android/.kotlin/

packages/fika-collect-survey-editor/.vercel
