{
  "AWS_ACCESS_KEY_ID": "<fika-collect-vercel-develop IAM user access key>",
  "AWS_SECRET_ACCESS_KEY": "<fika-collect-vercel-develop IAM user secret key>",
  "S3_BUCKET": "fika-collect-development",
  "AWS_REGION": "us-west-1"
}
