.surveyList {
  margin-top: 50px;
}
.surveyList-table {
  width: 100%;
  flex-direction: column;
  margin-top: 10px;
}

.surveyList-table th {
  border-bottom: 1px solid #ccc;
}

.surveyList-action {
  margin-right: 10px;
  border: none;
  background-color: transparent;
  font-size: 1em;
  color: #a1bbf0;
  text-decoration: underline;
  cursor: pointer;
}

.surveyList-table tr:nth-child(even) {
  background-color: #181c24;
}

.surveyList-table th,
.surveyList-table td {
  padding: 5px 10px;
}

.surveyList-actions {
  display: flex;
  justify-content: flex-end;
}

.surveyList-actions button {
  margin-left: 10px;
}
