html[data-bs-theme='dark'] {
  --header-background: rgb(54 57 61);
  --header-text-color: white;
}

html[data-bs-theme='light'] {
  --header-background: rgb(35, 77, 100);
  --header-text-color: white;
}

.header {
  background: var(--header-background);
}

.header .navbar-brand {
  color: var(--header-text-color);
}
