.app {
  text-align: left;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  color: white;
}

.app a {
  color: #a1bbf0;
}

.app-content {
  width: 100%;
  max-width: 640px;
  margin: 0 auto;
  padding: 15px;
  box-sizing: border-box;
}
