body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.btn {
  background-color: #a1bbf0;
  color: #282c34;
  border: none;
  padding: 5px 15px;
  border-radius: 2px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 5px 0;
}

.btn:hover {
  background-color: #8ca3e0;
}

.btn:active {
  background-color: #7b92d0;
}

.btn:disabled {
  background-color: #9ca5bc;
  color: #37393e;
  cursor: not-allowed;
}
